<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Web Design, The Iron Yard Austin — Jan 2015 </title>
  <link rel="stylesheet" href="css/styles.css" />
   <link rel="stylesheet" href="css/pygment_trac.css" />
</head>
<body>
<div class="wrapper">
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header>

          <h1>Web Design</h1>
          <p>The Iron Yard Austin — Jan 2015</p>
<p class="view"><a href="https://github.com/tiy-austin-wd-jan2015/Onboarding">View the Project on GitHub</a></p>
 <ul>
        <li><a href="#preworkplus">Prework</a>

          <li><a href="#office-hours">Office Hours</a></li>
          <li><a href="#general-questions">General Questions</a></li>
          <li><a href="#photoshop-assignments">Photoshop Assignment</a></li>
          <li><a href="#illustrator-assignments">Illustrator Assignments</a></li>         <li><a href="#design-theory">Design Theory</a></li>
          <li><a href="#mindset-advice">Advice</a></li>



          </ul>
        </li>
        </header>
    </div>

    <!-- MAIN CONTENT -->

      <section id="main_content" class="inner">
    {{ content }}
      </section>

    <!-- FOOTER  -->

      <footer class="inner">
      <p>This project is maintained by Sam Kapila and The Iron Yard.</p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
</body>
</html>